body {
  font-family: 'Avenir Next', Arial, sans-serif;  
  font-size: 1.0em; 
  width:800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color:#594b3a;
}

/*  for the special font Avenir Next  */
@font-face {
  font-family: 'Avenir Next';
  src: url('Avenir Next Medium.otf');
}

/*  header part */
.headerdidot {
  text-align:center;
  font-size:35px; 
  font-family: 'GFS Didot', serif;
}

/*  horizontal line  */
hr {
  background-color:#594b3a;
  opacity: 0.5;
}
.hr1 {
  border:solid 0.7px;
}
.hr2 {
  border:solid 2px;
}


/*  back to menu span font size */
.spanmenu {
  font-size:0.5em;
}
a {
  color: #43948e;
}
span {
  vertical-align:middle;
}

/*  paragraph title  */
.ptitle {
  text-align: center;
  font-weight:normal;
}

#cattable {
  font-family: 'Avenir Next', Arial, sans-serif;
  width: 100%;
  text-align: right;
  border-collapse: collapse; 
  border-style: hidden; 
  margin-top: 40px;          
}
#cattable th:first-child, td:first-child {
  text-align:left;
}
.center {
  text-align: center;
  font-family: 'Avenir Next', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  padding-top:60px;
}
.content {
  font-size: 1.3em; 
  font-family: 'Avenir Next', Arial, sans-serif;
}


/*  Quotation Part  */
.cquote {
  background-color:#f7f6f4;
  padding:20px;
  font-style:italic;
  font-family:Times, serif;
  font-size: 33px;
  color: black;
}
.cquote p {
  text-align:right;
}

/*  Navigation part */
li {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  font-size: 1.3em;
}
ol {
  color: #43948e;
}

/*  Population of Cats  */
.tabledashed {
  border-style: dotted; 
  background-color:#f1f0ee; 
  border-color:#acacac
}
td {
  padding:15px; 
  border: 1px solid rgb(224, 224, 224);
}
th {
  color:white;
  background-color:#5a5754;
  border: 1px solid gray;
  border-bottom: 2px;
  padding:15px;
}


/*  INSPIRATIONAL QUOTE  */
.classquote {
  clear:both;
  padding-bottom:50px;
}

/*  for the image size  */
.imgsize {
  width:55%; 
  float:left;
  padding-right:20px;
}

/*  footer part */
footer {
  padding-top:80px;
  text-align:center;
}