* {
  box-sizing: border-box;
  border: none;
  border-collapse: collapse;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 1.2em;
  text-align: left;
  line-height: 1.3em;
  color: #818181;
}

/*  Left padding  */
header, .navigation, aside, .galleryclass, footer{
  padding-left: 15%;
}

/*  header section  */
header {
  padding-top:30px;
  padding-bottom: 30px;
  width: 100%;
  border-bottom: lightgray 1px solid;
}
header h1 {
  font-size: 2em;
}

/*  Navigation top  */
.navigation {
  width: 100%;
}
.navigation ul {
  list-style-type: none;
  padding: 0;
  line-height: 40px;
  margin: 0;
}
.navigation li {  
  float: left;
  font-size: 1em;
}
a {
  display: block;
  color: black;
  text-align: left;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 45px;
  font-weight: bold;
}
a:hover {
  color: darkgray;  
}

/*  banner  */
img {
  max-width: 100%;
  height:auto;
}

.flex-container, .logotypes-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*  aside */
aside {
  width: 44%;
  padding-top: 0;
  padding-right: 3%;
}
article {
  width: 50%;
}
.galleryclass {
  width: 44%;
  padding-right: 3%;
  padding-top: 40px;
}
.logotypes {
  width: 50%; 
  padding-top: 40px; 
}
.logotypes-container img {
  width: 25%;
  height: 25%;
  padding: 10px;
}

/*  footer section */
footer {
  background-color: slateblue;
  height: auto;
  padding-top: 30px;
  color: white;
}
.findus, .aboutthispage, .archives, .footernav {
  width: 23%;
  padding: 20px;
}
iframe {
  border: 0;
  width: 100%;
  height: 300px;
}

/* .footernav nav ul, .archives nav ul {   */
footer ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
  line-height: 40px;
}
footer li {
  float: none;
  font-size: 1em;
  text-decoration: none;
  border-top: gray 1px solid;
}
footer a, footer p{
  color: white;
}

/*  remove border from the first list element  */
.archives li:first-child {
  border-top: none;
}
.footernav nav ul li.firstli {
  border-top: none;
}

/*  media queries */
@media all and (max-width: 800px) {
  main {
    order: 1;
  }
  aside {
    order: 2;
  }
  .galleryclass {
    order: 3;
  }
  .logotypes {
    order: 4;
  }
  .flex-container {
    flex-flow: column;
  }
  .flex-container > * {
    flex:5 0px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }
  .navigation a {
    width: 100%;
  }
  .navigation li {
    float: none;
  }
  .logotypes-container img {
    width: 50%;
    height: 50%;
    padding: 10px;
  }
  footer.flex-container {
    width: 100%;
    padding: 0;
  }
}